body{
    background: #f1f1f1;
    font-family: "Nuntio", sans-serif;
}
div h1{
    color: #483434;
}
div h2{
    color: #6B4F4F;
}
.partOne h2{
    color: #483434;
    font-weight: 100;
    font-size: 2rem;
}
.partOne p{
    color: #483434;
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 2;
}
.content{
    margin-top: 100px;
    margin-bottom: 100px;
}
.navbar.scrolled{
    background: #bb8765;
    transition: background 500ms;
}
.navbar-brand{
    font-size: 2rem;
}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 600;
}
#mainNavbar .nav-link{ 
    color: #353535;
}
#mainNavbar .nav-link:hover{
    color: #ea1C22;
    transition: 400ms;
}
#mainNavbar .navbar-brand{
    color: #e63946;
}

#headingGroup span{
    color: #ea1C2c;
}
#headingGroup h1{
    font-weight: 100;
    font-size: 4rem;
}
#loginName{
	
	color:black;
}
.center_div{
    margin: 10rem auto;
    width:80%;
}
.registerForm{
    color: #6B4F4F;
    font-family: "Nuntio", sans-serif;
}
.loginForm {
    margin-top: 18vh;
}
/* .carousel-control-next-icon, .carousel-control-prev-icon { */
/* 	filter: invert(1); */

#captchaImg {
    height: 40px;
    width: 130;
    max-width: 400px;
/*     maintain aspect ratio */
}
ul {
    list-style-type: none;
}
 @media screen and (max-width: 768px){
    #mainNavbar{
        background:#bb8765;
    }
}

@media(max-width:1200px) {
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }
    .partOne{
        font-size: 2rem;
    }
}